<div class="container mx-auto p-4">
    <div class="flex flex-wrap justify-center">
        <!-- Columna Izquierda: Formulario -->
        <div class="w-full lg:w-1/2 p-4">
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="bg-[#263473] text-white text-center py-4">
                    <h3 class="text-xl font-bold uppercase">Editando Cliente</h3>
                </div>
                <div class="p-6">
                    <form action="/edit/{{cliente.Cedula}}" class="space-y-4" method="post">
                        <div class="flex items-center">
                            <label class="w-32 text-gray-700 font-medium" for="Cedula">Cédula</label>
                            <input type="text" class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200" name="Cedula" id="Cedula" value="{{cliente.Cedula}}" placeholder="Ejemplo: 12345678" required>
                        </div>
                        <div class="flex items-center">
                            <label class="w-32 text-gray-700 font-medium" for="Nombres">Nombres</label>
                            <input type="text" class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200" name="Nombres" id="Nombres" value="{{cliente.Nombres}}" placeholder="Ejemplo: Luis Angel" required>
                        </div>
                        <div class="flex items-center">
                            <label class="w-32 text-gray-700 font-medium" for="Apellidos">Apellidos</label>
                            <input type="text" class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200" name="Apellidos" id="Apellidos" value="{{cliente.Apellidos}}" placeholder="Ejemplo: Fernandez" required>
                        </div>
                        <div class="flex items-center4">
                            <label class="w-32 text-gray-700 font-medium" for="Direccion">Dirección</label>
                            <input type="text" readonly class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md bg-gray-100 text-gray-500 cursor-not-allowed" name="Direccion" id="Direccion" value="{{cliente.Direccion}}" placeholder="Ejemplo: Calle 123, Ciudad" required>
                        </div>
                        <div class="flex items-center">
                            <label class="w-32 text-gray-700 font-medium" for="Ubicacion">Ubicación</label>
                            <input type="text" readonly class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md bg-gray-100 text-gray-500 cursor-not-allowed"  name="Ubicacion" id="Ubicacion" value="{{cliente.Ubicacion}}" placeholder="Ejemplo: Coordenadas o descripción" required readonly>
                        </div>
                        <div class="mt-6">
                            <button class="w-full bg-[#e4012c] text-white py-2 rounded-md hover:bg-blue-600">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
 <!-- Columna Derecha: Mapa y Buscador -->
        <div class="w-full lg:w-1/2 p-4">
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="p-2 flex">
                    <input type="text" name="Direccion" id="busqueda" placeholder="Buscar dirección" class="flex-grow px-4 py-2 border border-gray-300 rounded-l-md focus:ring focus:ring-blue-200">
                    <button onclick="searchAddress()" class="w-40 ml-3 bg-[#e4012c] text-white py-2 rounded-r-md hover:bg-blue-600">Buscar</button>
                </div>
                <div id="map" class="w-40 mt-2 h-60 rounded-lg shadow-md"></div>
            </div>
        </div>
    </div>
</div>